* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background: lightgrey url("../images/houzes.jpg") repeat;
}

h1 {
  background-color: yellow;
}
